<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color: aquamarine;">

    <div class="container">

        <form id="" method="get" action="/api/randoms/calcular">
            <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6 form-group bg-light border border-dark rounded pt-3 px-6 pb-3">
                    <h2 class="pb-3" style="color:green"> Random Numbers</h2>
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" name="amount" min="1" class="form-control"  required>
                    <br>
                    <button type="submit" class="form-control btn btn-success">Submit</button>
                </div>
                
            </div>
        </form>
    </div>

</body>

</html>